html {

  background-color: rgb(31, 161, 90);  
}
.container-fluid{
  background-color: rgb(43, 172, 211);
  
}



input[type="text"]{
  background:transparent;
  color: white;
  
}

input[type="text"]:focus{
  background: transparent;
  color: white;
}